<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>min sheng official</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<link rel="stylesheet" type="text/css" href="/static/pc/css/base/main.css">
	<link rel="stylesheet" type="text/css" href="/static/pc/css/pages/sec.css">
    <!--[if lt IE 9]>
      <script src="/static/pc/js/3rdlibs/html5shiv.min.js"></script>
      <script src="/static/pc/js/3rdlibs/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<h1>首页</h1>
	<div class="sec-title">This is home page!</div>
	<script src="/static/pc/js/3rdlibs/require.js"></script>
	<script>
		requirejs.config({
			paths: {
				"$": "/static/pc/js/3rdlibs/jquery",
				"text": "/static/pc/js/3rdlibs/text",
				"pop": "/templates/pc/subtpl/pop.html",
				"_": "/static/pc/js/3rdlibs/underscore" // 如果设置了下面map版本控制,就不需要设置该paths
			},
		});
		require(['/static/pc/js/pages/index.js']);
	</script>
</body>
</html>